@vxteaser-color-white: #FFFFFF;
@vxteaser-color-black: #000000;
@vxteaser-color-primary: #1F93E9;
@vxteaser-color-highlight: #FF4D3C;
@vxteaser-color-dark: #1D1E1F;
@vxteaser-color-special: #1f93e9;
@vxteaser-color-transparent: transparent;

@vxteaser-color-mood-1: #F1F1F1;
@vxteaser-color-mood-2: #888888;
@vxteaser-color-mood-5: #1D1E1F;
@vxteaser-color-mood-6: #151617;

@vxteaser-font-family: 'Roboto Condensed';

@vxteaser-font-weight-light: 300;
@vxteaser-font-weight-normal: 400;
@vxteaser-font-weight-bold: 700;

/******* MODIFIER ********/

.-mb-0 {
	margin-bottom: 0 !important;
}

.-mb-5 {
	margin-bottom: 5px !important;
}

.-mb-10 {
	margin-bottom: 10px !important;
}

.-mb-15 {
	margin-bottom: 15px !important;
}

.-mb-20 {
	margin-bottom: 20px !important;
}

.-font-light {
	font-weight: @vxteaser-font-weight-light !important;
}

.-text-align-left {
	text-align: left !important;
}

/******* END OF MODIFIER ************/

.vxteaser-suite {
	position:    relative;
	margin:      0;
	padding:     0;
	width:       100%;
	max-width:   100%;
	font-family: @vxteaser-font-family;
	font-weight: @vxteaser-font-weight-light;
}

.vxteaser-suite__item {
	left:       0;
	top:        0;
	width:      100%;
	position:   absolute;
	z-index:    0;
	transition: opacity 2s;
	visibility: hidden;
	opacity:    0;

	&.is-active {
		visibility: visible;
		opacity:    1;
		z-index:    1;
		transition: opacity 1.2s;
	}

	.vxteaser-suite.is-linear & {
		visibility: visible;
		opacity:    1;
		position:   static;
	}
}

.vxteaser-control--close {
	position: absolute;
	top:      10px;
	right:    10px;
	z-index:  3;
	cursor:   pointer;

	&:before {
		content:     "\00d7";
		text-shadow: 1px 1px 2px #4d4d4d;
		font-size:   6rem;
		font-weight: @vxteaser-font-weight-light;
		line-height: 0.3;
		color:       @vxteaser-color-white;
	}
}

.vxteaser-panel {
	position: relative;
}

.vxteaser-headline {
	font-family: @vxteaser-font-family;

	&.-type-sub {
		margin-bottom: 0.5rem;
		font-size:     2.6rem;
		font-weight:   @vxteaser-font-weight-light;
		line-height:   2.3rem;
	}
	&.-type-main {
		margin-bottom:  1.5rem;
		font-size:      4.6rem;
		font-weight:    @vxteaser-font-weight-bold;
		text-transform: uppercase;
		line-height:    4rem;
	}
	&, &.-type-text {
		margin-bottom: 2rem;
		font-size:     1.7rem;
		font-weight:   @vxteaser-font-weight-normal;
		line-height:   2rem;
	}
}

.vxteaser-button {
	color:            @vxteaser-color-white;
	border-radius:    2px;
	border:           1px solid @vxteaser-color-primary;
	background-color: @vxteaser-color-primary;
	display:          inline-block;
	font-size:        1.7rem;
	font-weight:      @vxteaser-font-weight-light;
	padding:          0.7em 0 0.65em 0;
	cursor:           pointer;
	min-width:        180px;
	position:         relative;
	text-align:       center;
	text-decoration:  none;
	text-transform:   none;
	transition:       all 0.15s linear;
	vertical-align:   top;

	&.vxteaser-color--white {
		color:            @vxteaser-color-special;
		background-color: @vxteaser-color-white
	}
}

.vxteaser-banner {
	position:            relative;
	overflow:            hidden;
	width:               100%;
	max-width:           100%;
	background-position: top right;
	font-weight:         300;
	cursor:              pointer;
}

.vxteaser-skew {
	position:         absolute;
	width:            55%;
	height:           780px;
	transform:        rotate(26deg);
	content:          ' ';
	top:              -120%;
	left:             -9%;
	background-color: @vxteaser-color-mood-5;

	.-theme-light.vxteaser--has-skew & {
		color:            @vxteaser-color-black;
		background-color: @vxteaser-color-white;
	}
	.-theme-special.vxteaser--has-skew & {
		color:            @vxteaser-color-white;
		background-color: @vxteaser-color-special;
	}
	.-theme-transparent.vxteaser--has-skew & {
		color:            @vxteaser-color-white;
		background-color: @vxteaser-color-transparent;
	}
}

.vxteaser-banner.vxteaser--has-no-skew .vxteaser-skew {
	display: none;
}

.vxteaser-banner__content {
	position:         relative;
	height:           100%;
	color:            @vxteaser-color-white;
	background-color: transparent;

	.vxteaser--has-no-skew & {
		background-color: @vxteaser-color-dark;
	}

	.-theme-light & {
		color: @vxteaser-color-black;
	}
	.-theme-special & {
		color: @vxteaser-color-white;
	}
	.-theme-transparent & {
		color: @vxteaser-color-white;
	}

	.-theme-light.vxteaser--has-no-skew & {
		background-color: @vxteaser-color-white;
	}
	.-theme-special.vxteaser--has-no-skew & {
		background-color: @vxteaser-color-special;
	}
	.-theme-transparent.vxteaser--has-no-skew & {
		background-color: @vxteaser-color-transparent;
	}
}

.vxteaser-banner__content__inner {
	height:     100%;
	padding:    2.5em 5em;
	box-sizing: border-box;
}

.vxteaser-arrow--left, .vxteaser-arrow--right {
	position:  absolute;
	z-index:   300;
	top:       50%;
	transform: translateY(-50%);
	cursor:    pointer;
	font-size: 6rem;
	color:     @vxteaser-color-mood-1;

	.is-linear & {
		display: none;
	}
}

.vxteaser-arrow--left {
	left:        10px;
	text-shadow: -5px 1px 5px rgba(16, 17, 18, .9);

	&:before {
		content: "<";
	}
}

.vxteaser-arrow--right {
	right:       10px;
	text-shadow: 5px 1px 5px rgba(16, 17, 18, .9);

	&:before {
		content: ">";
	}
}

.vxteaser-row:after {
	clear:   both;
	content: "";
	display: block;
}

/****************** COLORS ******************/

.vxteaser-color--description {
	color: @vxteaser-color-mood-2;
}

.vxteaser-color--highlight {
	color: @vxteaser-color-highlight;
}

.vxteaser-bg-color--white {
	background-color: @vxteaser-color-white;
}

/****************** END COLORS ******************/

.vxteaser-panel--skew {
	position: absolute;
	top:      0;
	overflow: hidden;
	height:   100%;
	margin:   auto;

	.-has-panelskew-2 & {
		width: 50%;
	}

	.-has-panelskew-3 & {
		width: 33.3%;
	}

	&.-nth-of-class-1 {
		left: 0;

		@media only screen and (min-width: 1199px) {
			.-has-panelskew-2 & {
			}

			left: 36%;
		}
	}
	&.-nth-of-class-2 {
		left: 33.3%;

		.-has-panelskew-2 & {
			left: 50%;
		}

		@media only screen and (min-width: 1199px) {
			.-has-panelskew-2 & {
				left: 68%;
			}

			left: 59%;
		}
	}
	&.-nth-of-class-3 {
		left: 66.6%;

		@media only screen and (min-width: 1199px) {
			left: 82%;
		}
	}
}

@media only screen and (min-width: 1199px) {
	.vxteaser-panel--skew {
		transform: skewX(-26deg);
	}

	.vxteaser-panel--skew .vxteaser-panel--skew__image {
		transform: skewX(26deg) translateX(-63px);
	}
}

.vxteaser-panel--skew .vxteaser-panel--skew__image {
	display: block;
	margin:  0;
	height:  100%;
}

@media only screen and (max-width: 991px) {
	.vxteaser-panel--skew .vxteaser-panel--skew__image {
		position: relative;
		left:     -20%;
	}
}

/* teaser skew buttons */

.vxteaser-skew-button {
	position:         absolute;
	z-index:          2;
	font-size:        2.4rem;
	font-family:      @vxteaser-font-family;
	line-height:      1;
	text-transform:   none;
	color:            @vxteaser-color-white;
	background-color: @vxteaser-color-mood-6;
	padding:          .55em 1.5em .45em 1.45em;
	border:           none;
	transition:       none;
	text-decoration:  none;

	&:hover {
		background-color: lighten(@vxteaser-color-mood-6, 15%);
	}
	&:hover::before {
		transition:   none;
		border-color: transparent transparent lighten(@vxteaser-color-mood-6, 15%) transparent;
	}
	&:before {
		border-style: solid;
		border-width: 0 0 2em 1em;
		border-color: transparent transparent #151617 transparent;
	}
	&:after {
		position:    absolute;
		right:       0.4em;
		content:     ">";
		display:     inline-block;
		float:       left;
		font-weight: @vxteaser-font-weight-normal;
	}

	@media only screen and (min-width: (1199px)) {
		top:    auto;
		bottom: 35px;

		&::before {
			content:      '';
			width:        0;
			height:       0;
			position:     absolute;
			left:         -1em;
			top:          0;
			border-style: solid;
			border-width: 0 0 2em 1em;
			border-color: transparent transparent @vxteaser-color-mood-6 transparent;
		}
	}
}

.vxteaser-skew-button.-nth-of-class-1 {
	left: 0;

	@media only screen and (min-width: 1199px) {
		left: 33%;
	}
}

.vxteaser-skew-button.-nth-of-class-2 {
	left: 33.3%;

	.-has-panelskew-2 & {
		left: 50%;
	}

	@media only screen and (min-width: 1199px) {
		.-has-panelskew-2 & {
			left: 65%;
		}

		left: 56%;
	}
}

.vxteaser-skew-button.-nth-of-class-3 {
	left: 66.6%;

	@media only screen and (min-width: 1199px) {
		left: 79%;
	}
}
